<?xml version="1.0" encoding="utf-8"?>
<root>
    <CONFIG>
        <name>export_seda</name>
        <comment>_EXPORT_SEDA_COMMENT</comment>
        <file_prefix>seda</file_prefix>
        <loaded>true</loaded>
        <sae>MaarchRM</sae>
        <token>RJpzB36bmR+iuz/aHN9Zl9PDn8tZEs46z87xNzQkc4vMgnX5xU0nQsN+eDvLQ1Uu2RC00faGys/+axucO0O57gK+vhVahM281sLUnrIe2jgkXg7xCfTXnbSWsbE9pxLK</token>
        <urlSAEService>https://demo-ap.maarchrm.com</urlSAEService>
        <urlSAE>https://demo-ap.maarchrm.com/transfer/sent</urlSAE>
        <directoryMessage>/tmp/</directoryMessage>
        <senderOrgRegNumber>MAARCH_LES_BAINS_SA</senderOrgRegNumber>
        <accessRuleCode>AR039</accessRuleCode>
        <deleteData>true</deleteData>
        <certificateSSL></certificateSSL>
        <userAgent>service</userAgent>
    </CONFIG>
    <TABLENAME/>
    <HISTORY>
        <sedaup>true</sedaup>
        <sedaadd>true</sedaadd>
        <sedadel>true</sedadel>
    </HISTORY>
    <M2M>
        <gec>maarch_courrier</gec>
    </M2M>
</root>
